body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(aqua, green);
}

.container {
    text-align: center;
    background: linear-gradient(black, red);
    padding: 20px;
    border-radius: 8px;
    box-shadow: -20px -20px 10px red;
}

h1 {
    color: white;
    text-shadow: 10px 5px 5px;
}

.add-task {
    margin-top: 20px;
}

input[type="text"] {
    padding: 8px;
    font-size: 16px;
}

button {
    font-size: 1.5rem;
    cursor: pointer;
    background: transparent;
    border: none;
    color: aliceblue;
}

.removeBtn{
    font-size: 15px;
    position: absolute;
    align-items: right;
}

span{
    color: white;
    font-size: 25px;
    margin: 20px;
}